extends layout

block content 
    form(id='form' method='post' action='/edit/' + users._id)
        //- username
        label(for='username') Username: 
        input(type='text' name='username' value=users.username)
        br
        //- password
        label(for='password') Password:
        input(type='text' name='password' value="")
        br

        input(type='submit' value='Update User')
        br
        br
        a(href='/settings/' + users._id) Cancel