doctype
html    
    head
        title=title
        link(href='/signupstyle.css' rel='stylesheet')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet")
    body
        
        block content 
            form(id='form' method='put' action='/edit/' + users.username)
                h3 Edit Profile

                input(type='text' name='username' placeholder='Username')
                br

                input(type='text' name='age' placeholder='Age')
                br 

                input(type='submit' value='Update User' name='submitBtn')
                br

                p #[a(href='/settings/' + users.username) Cancel]