extends layout 

block content

        a(href='/edit/' + users.username)
            button(type="button") Edit User
        a(href='/delete/' + users.id)
            button(type="button") Delete User
        a(href="/logout")
            button(type="button") Log Out
        a(href="/browse")
            button(type="button") Browse Videos
        a(href="/upload")
            button(type="button") Upload a Video
